.container{
    background-color: rgb(236, 198, 164);
    width: 50%;
    text-align: center;
    font-size: 18pt;
    margin: auto;
    margin-top: 7%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: monospace;
}

hr{
    width: 80%;
    margin-top: 10px;
    border-color: black;
    background-color: black;
}

.container div{
    padding-top: 10px;
}

#recipeNav {
    width: 200px;
}


#avatars{
    width:50px;
    height: 50px;
  }

.avatars > input{
    display: none;
}
  
.avatars > input + img{
cursor: pointer;
border: 2px solid transparent;
}

.avatars > input:checked + img{
border: 2px solid red;
border-radius: 100%;
}

.avatar-list-content{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.avatar-list-content *{
    margin-left: 20px;
}

.avatar-label{
    margin-top: 15px;
}


.submit{
    background-color: rgb(78, 192, 78);
    color: black;
    padding: 5px;
    margin-top: 15px;
}

#deleteAccountBtn{
    background-color:red;
    color: black;
    padding: 5px;
}


/* ----------- RESPONSIVE DESIGN - Adapt to mobile ------------ */
@media (max-width: 1100px) {

    .navbar ul {
        flex-direction: column;
        width: 75%;
    }

    .navbar ul li {
        width: 300px;
        margin: auto;
        margin-left: 20px;
        padding-right: 10px;
    }

        .navbar{
            margin-bottom: 100px;
        }
    
        .container div {
            margin-left: 0px;
            padding-top: 10px;
            padding: 10px;
            margin: auto;
        }
    
        .container {
            width: 80%;
            margin: auto;
            text-align: center;
        }
    
        .avatar-list-content{
            flex-direction: column;
            justify-content: center;
            margin-right: 0px;
        }
    
        div {
            margin: auto;
        }
    
        .navRight {
            text-align: center;
        }
    


}